<li class="item border-t border-slate-200 p-2 font-light text-sm">
    <a class="flex flex-row gap-4" href="{{file_path}}" >
        <!-- <img class="file h-5 w-5" src="https://svg-rewriter.sachinraja.workers.dev/?url=https%3A%2F%2Fcdn.jsdelivr.net%2Fnpm%2F%40mdi%2Fsvg%406.7.96%2Fsvg%2Ffile-outline.svg&fill=%2357606a&width=40px&height=40px"/> -->
        <img class="file h-5 w-5" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/icons/filetype-{{file_extension}}.svg"/>
        <div class="w-1/6">{{file_name}}</div>
        <div class="w-1/6">{{file_permissions}}</div>
        <div class="w-1/6 ml-auto">{{file_day}} {{file_month}}. {{file_time}}</div>
    </a>
</li>